<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CUChat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9883071C1EBD7BDD006D837A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>988307301EBD7BDD006D837A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9883073B1EBD7BDD006D837A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
